[submodule "lib/typescript"]
	path = lib/typescript
	url = https://dcodeIO@github.com/AssemblyScript/typescript.git
[submodule "lib/loader"]
	path = lib/loader
	url = https://github.com/AssemblyScript/loader.git
[submodule "lib/runtime"]
	path = lib/runtime
	url = https://dcodeIO@github.com/AssemblyScript/runtime.git
